/* #diamondPic {
    width: 25px;
    height: 25px;
} 
#opalPic {
    width: 25px;
    height: 25px;
}
#purplePic {
    width: 25px;
    height: 25px;
}
#redPic {
    width: 25px;
    height: 25px;
} */